div{
    overflow: hidden;
}



.IDE{
    overflow-x: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1270px;
    height: 765px;
    border: #2B0B3A;
    background-color: gainsboro; 
    border-color: #2B0B3A;
    border-width: 10px;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5,1fr);
    place-items: center;
    background: url(assets/IDETestimage.jpg);
    background-size: cover;

}

/* p,h3 {
    color: red;
} */

.IDELaptop{
    position: absolute;
    
}

.EditorBox {
    height: 450px;
    width: 640px;
    position: absolute;
    left: 20px;
    top: 70px;
}

.UserInputBox{
    position: absolute;
    width: 400px;
    height: 150px;
    left: 20px;
    bottom: 95px;

}

textarea {
    width: 350px;
    height: 400px;
    
}

.CompileButton {
    position: absolute;
    background-color: white;
     
}

.CompileButton {
    width: 250px;
    height: 100px;
    right: 620px; 
    bottom: 120px;
    border-radius: 25px;
}

.TestSiteChars {
    position: absolute;
    bottom: 0;
    right: 0px;
    margin: auto;
    z-index: 0;
}

img{
    height: 380px;
}

.OutputBox{
    position: absolute;
    top: 120px;
    
    right: 150px;
    /* background-color: white; */
    width: 310px;
    height: 200px;

    
}

.OutputTexts{
    position: absolute;
    top: 80px;
    right: 10px;
    /* background-color: white; */
    width: 310px;
    height: 200px;
}



.Questions{
    position: absolute;
    bottom: 120px;
    left: 20px;
    background-color: white;
    width: 350px;
    height: 100px;
}

.Feedback{
    position: absolute;
    right: 150px;
    top: 1rem;
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
    display: grid;
    /* width: 390px; */
}

.ChangeMode{
    color: green;
    position: absolute;
    left:20px;
    top: 5px;

}

.ChangeModeYes{
    color: red;
    position: absolute;
    left:20px;
    top: 5px;
}

.questionbox{
    position: absolute;
    display: grid;
    left: 20px;
    top: 30px;
    grid-row: 1;
    grid-column: 1;
}

.ContinueEp{
    position: absolute;
    color: black;
    bottom: 120px;
    right: 35%;
    background-color: white;
    width: 150px;
    height: 100px;
    border-radius: 20px;

}

@media (max-width:1272px) {
    .IDE{
        width: 90%;
        height: 60%;
    }
    
    .EditorBox{
        height: 35vh;
        width: 50%;
    }

    


}
