.Center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Center h1 {
    font-family: 'Podkova';
    font-size: 120px;
    font-weight: bold;
    color: #2B0B3A;
    margin-bottom: 20px;
    text-shadow: 0 0 8px #fff, 0 0 12px #fff, 0 0 16px #fff; /* Define multiple text shadows with increasing blur and color */
    animation: glow 2s ease-in-out infinite;
  }
  


  .Center button {
    padding: 10px;
    font-size: 50px;
    background-color: white;
    border-radius: 15px;
    margin-left: 50px;
  }
