.bg.current {
    /* background-color: black; */
    padding: 20px;
    
}
html{
    z-index: -1;
}

 html,body,div{
    overflow: hidden;

} 
 html,body{
    background-color:slategray;
} 

.GameMainContainer {
    overflow-x: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1270px;
    height: 765px;
    border: #2B0B3A;
    background-color: gainsboro; 
    border-color: #2B0B3A;
    border-width: 10px;
}

.LeftSprite {
    position: absolute;
	bottom: 0;
	left: 63px;
	margin: auto;


}

.RightSprite {
    position: absolute;
    bottom: 0;
    right: 63px;
    margin: auto;
}


img {
    width: 350px;
    top: 50px;
}

.TextBoxContainer {
    position: absolute;
    bottom: 0;
    height: 220px;
    width: 1280px;
    background: rgba(89, 84, 84, 0.5);
}

.NameBox {
    position: absolute;
    width: 223px;
    height: 45px;
    left: 46px;
    bottom: 160px;
    background: #D2D2D2;
    border-radius: 10px 10px 0px 0px;
}

.TextBoxRectangle {
    position: absolute;
    width: 1200px;
    height: 143px;
    left: 19px;
    top: 40px;
    background: #FFFFFF;
    border-radius: 25px;
    
}

.Textss{
    position: absolute;
    top: 10px;
    left: 30px;
}

.Advance {
    position: absolute;
    bottom: 0px;
    right: 250px;
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
    width: 190px;
    text-align: center;
}

.End {
    position: absolute;
    bottom: 0px;
    right: 50px;
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
    width: 190px;
    text-align: center;
}


.bg.current {
    z-index: 0;
    position: absolute;
}